<template>
  <div>
    <navbar></navbar>
    <pageHeader></pageHeader>
    <aboutUs></aboutUs>
    <process></process>
    <footerArea></footerArea>
  </div>
</template>

<script>
import Navbar from '~/components/includes/Navbar.vue'
import PageHeader from '~/components/pages/Page-header.vue'
import AboutUs from '~/components/pages/About-us.vue'
import Process from '~/components/pages/Process.vue'
import FooterArea from '~/components/includes/Footer.vue'

export default {
  components: {
    Navbar,
    PageHeader,
    AboutUs,
    Process,
    FooterArea,
  }
}
</script>
