<template>
  <div>
    <navbar></navbar>
    <intro></intro>
    <aboutUs></aboutUs>
    <services></services>
    <works></works>
    <contactArea></contactArea>
    <blog></blog>
    <footerArea></footerArea>
  </div>
</template>

<script>
import Navbar from '~/components/includes/Navbar.vue'
import Intro from '~/components/home/Intro.vue'
import AboutUs from '~/components/pages/About-us.vue'
import Services from '~/components/pages/Services.vue'
import Works from '~/components/pages/Works.vue'
import ContactArea from '~/components/pages/Contact-area.vue'
import Blog from '~/components/pages/Blog.vue'
import FooterArea from '~/components/includes/Footer.vue'

export default {
  components: {
    Navbar,
    Intro,
    AboutUs,
    Services,
    Works,
    ContactArea,
    Blog,
    FooterArea,
  }
}
</script>
