<template>
    <div class="about-us" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6>{{aboutUs.title}}</h6>
                    <h2 data-title="Digital">{{aboutUs.childTitle}}</h2>
                </div>
                <div class="col-md-5">
                    <h4>{{aboutUs.subtitle}}</h4>
                </div>
                <div class="col-md-7">
                    <p> {{aboutUs.description}}<br><br> {{aboutUs.content}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "about-us",
        data: () => {
            return {
                aboutUs: {
                    title: "Dijital ihtiyaçlarınız için çözüm üretiyoruz.",
                    childTitle: "Web Tasarım İhtiyaçlarınız İçin Doğru Adres",
                    subtitle: "HER ÇALIŞMAMIZ SIZI RAKIPLERINIZIN KARŞISINDA ÖNE ÇIKARIR VE MARKANIZA DEĞER KATAR.",
                    description: "Bizim için başarı, sizin ihtiyaçlarınıza 100% uygun çözümler üretmek ve siz bu çözümleri uygularken yanınızda yürümektir.",
                    content: "We Beyond Creative olarak başta web tasarım olmak üzere grafik tasarım, seo danışmanlığı, google adwords danışmanlığı, sosyal medya yönetimi alanlarında konusunda uzman ekibimiz ile sizlere çözüm odaklı hizmetler sunmaktayız"
                }
            }
        }
    }
</script>
<style lang="less">
    .about-us {
        padding: 80px 0;
        position:relative;
        font-family: 'Poppins',sans-serif;
        h6 {
            display: block;
            line-height: 1;
            margin-bottom: 20px;
            opacity: 0.5;
            font-size: 14px;
        }
        h2 {
            margin-bottom: 60px;
            font-weight: 800;
            font-size: 60px;
            line-height: 1.2;
            padding-right: 40%;
            &:before {
                content: attr(data-title);
                font-size: 20vw;
                opacity: 0.05;
                z-index: -1;
                position: absolute;
                left: 0;
                top: -20%
            }
        }
        h4 {
            margin-top: 5px;
            font-size: 20px;
            line-height: 40px;
            text-transform: uppercase;
            padding-right: 20%;
        }
        p {
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 37px;
        }
    }
</style>