<template>
    <div class="page-header">
        <div class="container">
            <h3>{{pageTitle}}</h3>
        </div>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            pageTitle: "Hakkımızda",
        }
    }
}
</script>
<style lang="less">
    .page-header {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 30vh;
        background: url('../../assets/images/about1.jpg') no-repeat center center;
        background-size: cover;
        h3 {
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 36px;
            margin-bottom: 50px;
        }
    }
</style>