<template>
    <div class="process">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 wow fadeIn">
                    <h6>{{subtitle}}</h6>
                    <h2 data-text="Steps">{{title}}</h2>
                </div>
                <div class="col-md-3" v-for="(item,index) in process" :key="index">
                    <span>0{{item.id}}</span>
                    <figure> 
                        <img :src="item.imagePath" alt="Image">
                        <figcaption>
                            <h5>{{item.title}}</h5>
                        </figcaption>
                    </figure>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: ()=> {
            return {
                title:"HERŞEYDEN ÖNCE GÜVEN!",
                subtitle: "Bizim İçin Süreç Nasıl İlerler?",
                process: [
                    {id: 1,title: "Fikir Aşaması", imagePath: require('@/assets/images/icons/icon01.jpg'),description:""},
                    {id: 2,title: "Fikir Aşaması", imagePath: require('@/assets/images/icons/icon02.jpg')},
                    {id: 3,title: "Projeye Başlangıç", imagePath: require('@/assets/images/icons/icon03.jpg')},
                    {id: 4,title: "Bitiriş", imagePath: require('@/assets/images/icons/icon04.jpg')}
                ]
            }
        }
    }
</script>

<style lang="less">
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    .process {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 100px 0;
        position: relative;
        text-align: center;
        background: url(../../assets/images/pattern-bg.svg);
        h6 {
            display: block;
            line-height: 1;
            margin-bottom: 20px;
            font-family: "Fjalla One", sans-serif;
            opacity: 0.5;
            font-size: 16px;
            position: relative;
        }
        h2 {
            margin-bottom: 60px;
            font-weight: 800;
            font-size: 60px;
            line-height: 1.2;
            &:before {
                content: attr(data-text);
                font-size: 20vw;
                opacity: 0.05;
                z-index: -1;
                transform: translateX(-50%);
                position: absolute;
                left: 50%;
                top: -50%;
            }
        }
        span {
            width: 80px;
            height: 80px;
            line-height: 62px;
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            border-radius: 50%;
            background: @clrMain;
            position: relative;
            border: 10px solid #e2fdf1;
            margin-top: 50px;
            &:before {
                content: "";
                width: 30vw;
                height: 2px;
                background: #e2fdf1;
                position: absolute;
                left: -30px;
                top: 30px;
                z-index: -1;
            }
        }
        .col-md-3:last-child span:before {
            display: none;
        }
        figure {
            width: 100%;
            display: block;
            margin: 20px 0;
            background: #fff;
             img {
                height: 90px;
            }
        }
        h5 {
            font-weight: 600;
            font-size: 13px;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
 
</style>