<template>
    <div class="services">
        <div class="container">
            <div class="services-title">
                <h5>{{ subtitle }}</h5>
                <h3>{{ title }}</h3>
                <span>Services</span>
            </div>
            <div class="row">
                <div class="col-md-3" v-for="(item, ids) in services" :key="ids">
                    <div class="services-box">
                        <div class="icon">
                            <img :src="item.icon" alt="">
                            <h3>{{item.title}}</h3>
                        </div>
                        <div class="content">
                            <p>{{item.description}}</p>
                            <router-link to="/services">Devamını Gör</router-link>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'services',
        data: () => {
            return {
                position: null,
                title: 'İhtiyaçlarınız için başladığımız her projede yaratıcı fikir ve deneyimlerimiz ile sınırları zorluyoruz.',
                subtitle: 'Hizmet verdiğimiz alanlar',
                services: [{
                    id: 1,
                    icon: require('@/assets/images/icons/graphic.svg'),
                    title: 'Grafik Tasarım',
                    description: 'Firmanızın müşteriyle ilk karşılaşmasında olumlu bir izlenim oluşması için prosfesyonel bir şekilde tasarlanan logolar bulunmalıdır. Sektörünüz ne olursa olsun imajınızın yükselmesi için kurumsal kimlik önemli bir değere sahiptir.'
                }, {
                    id: 2,
                    icon: require('@/assets/images/icons/web.svg'),
                    title: 'Web Tasarım',
                    description: 'Web Siteleriniz için seo uyumlu tasarımlar yaparak üst sıralarda çıkabileceğiniz şartlarda oluşturuyoruz. Teknlojik gelişmeleri yakından takip ederek sitenize en uygun tasarımı sizlere sunuyoruz.'
                }, {
                    id: 3,
                    icon: require('@/assets/images/icons/social.svg'),
                    title: 'Sosyal Medya',
                    description: 'Rakip analizini yapıyor, analiz sonuçlarını değerlendirerek hangi sosyal ağda, nasıl bir strateji ile yer almanız gerektiğini belirleyip sizin için sosyal medyada marka kimliğinizi oluşturuyoruz.'
                }, {
                    id: 5,
                    icon: require('@/assets/images/icons/mobile.svg'),
                    title: 'Mobil Uygulama',
                    description: 'Siteleriniz için seo uyumlu tasarımlar yaparak üst sıralarda çıkabileceğiniz şartlarda oluşturuyoruz. Teknlojik gelişmeleri yakından takip ederek sitenize en uygun tasarımı sizlere sunuyoruz.'
                }, ]
            }
        }
    }
</script>

<style lang="less">
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    .services {
        padding: 80px 0;
        position: relative;
        font-family: 'Poppins';
        background: @clrSecond;
        .services-box {
            padding: 30px;
            text-align: left;
            color: white;
            margin-bottom: 40px;
            .icon {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 20px 0;
                height: 80px;
                img {
                    height: 55px;
                    width: 24%;
                    margin-right: 20px;
                }
            }
            h3 {
                font-size: 20px;
                font-family: 'Poppins';
                font-weight: bold;
                text-transform: uppercase;
            }
            p {
                font-size: 15px;
                font-weight: 100;
                opacity: .8;
            }
            a {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
                color: white;
            }
            i {
                display: block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 18px;
                color: white;
            }
        }
        .services-title {
            h3 {
                margin: 30px 0;
                font-weight: 800;
                color: white;
                font-size: 32px;
                line-height: 1.2;
                padding-right: 35%;
            }
            h5 {
                font-size: 16px;
                font-weight: 100;
                color:white;
            }
            span {
                position: absolute;
                bottom: -10%;
                right: 10%;
                color: rgba(2555, 255, 255, 0.05);
                font-size: 160px;
                font-weight: bold;
            }
        }
    }    
</style>