<template>
    <div class="works">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <h6>SON YAPTIĞIMIZ PROJELER</h6>
                    <h2 data-text="Projeler">Tüm Projelerimizi Sahiplenir, ihtiyaçlarınız için çözüm üretiriz.</h2>
                </div>
                <div class="col-12">
                    <div class="project-box wow fadeIn" v-for="(item, index) in works" :key="index">
                        <figure> 
                            <img :src="item.imagePath" alt="Image">
                        </figure>
                        <div class="content-box">
                            <div class="inner"> <small>{{item.subtitle}}</small>
                                <h3><a href="#">{{item.title}}</a></h3>
                                <div class="custom-link"> <a href="#">
                                    <div class="lines"> 
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <b>PROJEYE GİT</b></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "works",
        data: () => {
            return {
                title: "Projelerimiz",
                subtitle: "Yaptığımız İşler",
                childTitle: "Works",
                works: [{
                        title: 'Void Creative',
                        subtitle: 'Web Tasarım ve Geliştirme',
                        imagePath: require('@/assets/images/works/1.jpg'),
                        alt: 'Void Creative'
                    }, {
                        title: 'Virtouso Law & Consulting',
                        subtitle: 'Web Tasarım ve Geliştirme',
                        imagePath: require('@/assets/images/works/2.jpg'),
                        alt: 'Virtouso Law & Consulting'
                    }, {
                        title: 'Medium Digital',
                        subtitle: 'Web Tasarım ve Geliştirme',
                        imagePath: require('@/assets/images/works/3.jpg'),
                        alt: 'Medium Digital'
                    }
                ]
            }
        }
    }
</script>

<style lang="less">
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    .works {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 150px 0;
        transition-delay: 0s !important;
        transition: background 0.4s;
        font-family: 'Poppins',sans-serif;
        h6 {
            display: block;
            line-height: 1;
            margin-bottom: 20px;
            opacity: 0.5;
            font-size: 14px;
        }
        h2 {
            margin-bottom: 60px;
            font-weight: 800;
            font-size: 40px;
            line-height: 1.2;
            padding-right: 35%;
            &:before {
                content: attr(data-text);
                font-size: 18vw;
                opacity: 0.05;
                z-index: -1;
                position: absolute;
                left: 0;
                top: -20%;
            }
        }
        .project-box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 75px 0;
            * {
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -ms-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }
            &:hover figure {
                transform: scale(0.95);
                img {
                    transform: scale(1.15);
                }
            }
            &:last-child {
                padding-bottom: 0;
            }
            &:nth-child(2n+2) {
                .custom-link a {
                    float: right;
                }
                .content-box {
                    order: 1;
                    text-align: right;
                    padding-left: 0;
                    padding-right: 5%;
                    h3 span {
                        margin-left: 0;
                        margin-right: -7vw;
                    }
                }
                figure {
                    order: 2;
                }
            }
            figure {
                width: 55%;
                margin: 0;
                position: relative;
                overflow: hidden;
                border: 1px solid transparent;
                img {
                    width: 100%;
                }
            }
            .content-box {
                width: 45%;
                padding-left: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                z-index: 2;
                .inner {
                    margin: 0;
                    small {
                        display: block;
                        margin-bottom: 20px;
                        opacity: 0.5;
                        font-size: 14px;
                    }
                    h3 {
                        font-size: 4vw;
                        font-weight: 800;
                        margin-bottom: 10vh;
                        line-height: 1;
                        text-decoration: none;
                        a {
                            display: block;
                            color: @clrDark;
                        }
                    }
                }
            }
        }
    }

</style>