<template>
    <footer class="footer">
        <div class="footer-quote wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8"> <img src="@/assets/images/logo.png" alt="Image">
                        <h2>İşletmeniz için modern bir web sitesi oluşturalım</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contact wow fadeIn">
            <div class="container">
                <div class="row"> 
                    <div class="col-md-4">
                        <img height="50px" src="@/assets/images/icons/phone.svg" alt="">
                        <address>
                          <a href="tel:05071212456">0507 121 24 56</a>
                        </address>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-md-3">
                        <img height="50px" src="@/assets/images/icons/mail.svg" alt="">
                        <address>
                            <a href="mailto:info@webeyondcreative.com">info@webeyondcreative.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Sosyal Medyada Biz</h5>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Dribbble</a></li>
                            <li><a href="#">Behance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    export default {
       name: 'footerArea',
       data: ()=> {
           return {
               
           }
       } 
    }
</script>
<style lang="less" scoped>
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Poppins';
        flex-direction: column;
        padding: 100px 0;
        background: @clrDark;
        color: #fff;
        .footer-quote {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 80px;
            img {
                height: 60px;
                display: block;
                margin-bottom: 20px;
            }
            h2 {
                font-size: 3vw;
                font-weight: 800;
                margin-bottom: 0;
                color: @clrMain;
            }
        }
        .footer-contact {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 80px;
            address {
                margin-top: 20px;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .footer-bottom {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            h5 {
                margin-bottom: 10px;
                text-transform: uppercase;
                color: @clrMain;
            }
            ul {
                display: block;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin: 0;
                    margin-right: 20px;
                    padding: 0;
                    list-style: none;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        position: relative;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        padding-bottom: 6px;
                        -webkit-transition: 0.25s ease-in-out;
                        -moz-transition: 0.25s ease-in-out;
                        -ms-transition: 0.25s ease-in-out;
                        -o-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        border-bottom: 2px solid transparent;
                        &:hover {
                            padding-bottom: 1px;
                            border-bottom: 2px solid #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
</style>